<h2 mat-dialog-title>{{ 'help.download.title' | translate }}</h2>
<div *ngIf="statusMessage" class="status-message" [class]="statusType">
  <mat-icon>{{ statusType === 'success' ? 'check_circle' : 'error' }}</mat-icon>
  <span>{{ statusMessage | translate }}</span>
</div>
<mat-dialog-content>
  <table mat-table [dataSource]="helpFiles" class="help-table">
    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef>{{ 'help.download.language' | translate }}</th>
      <td mat-cell *matCellDef="let help">{{ help.language | translate }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'help.download.name' | translate }}</th>
      <td mat-cell *matCellDef="let help">{{ help.name | translate }}</td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>{{ 'help.download.version' | translate }}</th>
      <td mat-cell *matCellDef="let help">{{ help.version }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>{{ 'help.download.action' | translate }}</th>
      <td mat-cell *matCellDef="let help">
        <app-download-button
          [lang]="help.code"
          [disabled]="!help.available"
          (statusChange)="onDownloadStatus($event)">
        </app-download-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'common.close' | translate }}</button>
</mat-dialog-actions> 